<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou.dao.SubjectDao">


 <resultMap type="com.zhiyou.model.Subject" id="SubjectMap">
         <id column="subject_id" property="subject_id"/>
         <result column="subject_name" property="subject_name"/>
     </resultMap>
 
     <select id="selectAll" resultMap="SubjectMap" parameterType="com.zhiyou.model.Subject">
        select * from subject  
     </select>
     
     <insert id="delete">
        delete from course where id=#{id}
     </insert>
     
     <select id="selectById" resultMap="SubjectMap">
     select * from subject where subject_id=#{subject_id}
     </select>
     
      <insert id="update" parameterType="com.zhiyou.model.Subject">  
        update subject
       <set>
        <if test="phone!=null">
            phone=#{phone},
        </if>
        <if test="password!=null">
            password=#{password},
        </if>
        <if test="nickname!=null">
            nickname=#{nickname}
        </if>
        <if test="sex!=null">
            sex=#{sex}
        </if>
        <if test="birthday!=null">
            birthday=#{birthday}
        </if>
        <if test="address!=null">
            address=#{address}
        </if>
        <if test="imgurl!=null">
            imgurl=#{imgurl}
        </if>
        </set> 
        where id=#{id}
     </insert>
    
</mapper>